/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

.background {
  background-image: url('/Flowers.jpg');
  background-position: center;
  background-size: auto;
}

.navbar {
  margin-top: 25px;
  background-color: rgba(130, 70, 255, 0.8);
}

.navbar-header {
  // margin-top: 17px;
  // padding: 15px;
  // float: none;
  // text-align: center;
  // width: 100%;
  color: white;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  color: black;
  float: none;
  font-size: 25px;
  font-weight: bolder;
}

.menu-icon {
  left: 50%;
  position: absolute;
  float: right;
  margin-top: -8px;
}

.navbar-brand:hover {
  color: rgb(200, 200, 255);
}

.space {
  height: 50px;
}
