

<body>

      <div class="row">
        <div id="sidebar" class="col-md-3">
          <!-- sidebar content -->
        </div>
        <div id="content" class="col-md-6">
          <!--  main content -->
          <table class="table table-striped">
          <% if @images.any? %>
            <% @images.reverse_each do |image| %>
              <p class="row">
                <div class="well">
                  <%= link_to image.name, image_path(image), class: "image name"%><br>
                  <img class="img-rounded img-responsive" src="/church.jpg" alt="Church" ><br>
                  Category: <%= image.category %>
                </div>
              </p>
            <% end %>
          <% else %>
            <div class="text">No images have been uploaded yet :(</div>
          <% end %>
        </table>
        </div>
      </div>
</body>
